<!--/*
File name : about.ejs
Student's name : Karandeep
StudentID : 100734535
Student's name : Ritu Patel
StudentID : 100730021
Student's name : Harmanpreet Kaur
StudentID : 100734511
Date : 2020-04-06

Reference :- Images used in this file are from a free stock images website called Pexel
*/-->

<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">About Me...</h1>
                <p><img src="https://images.pexels.com/photos/1678775/pexels-photo-1678775.jpeg?cs=srgb&dl=man-in-black-zip-up-jacket-1678775.jpg&fm=jpg" alt="My Pic" height="200" width="300"></p>
                <h4>Shawn Michaels</h4>
                <p>I'm very passionate about what I do. I love coding and have experience of a number of projects.
                    You can find some of my favourite past project in Projects page that can be reached through navigation bar. I'm hard-working and I make project with great dignity.
                </p>
            </div>
    </div>
</div>

    