<!--/*
File name : home.ejs
Student's name : Karandeep
StudentID : 100734535
Student's name : Ritu Patel
StudentID : 100730021
Student's name : Harmanpreet Kaur
StudentID : 100734511
Date : 2020-04-06
*/-->

<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my Site!</h1>

                <h4>This is my Personal Portfolio website.</h4>
                
                <div id="progressBar"></div>
                <a href="/about">
                <button type="button" class="btn btn-primary" id="aboutButton">About Me</button>
                </a>
                <a href="/projects">
                <button type="button" class="btn btn-primary" id="projectsButton">Current Projects</button>
                </a>
                <p>I'm passionate and hard-working and complete every project with professionalism and honesty</p>
            </div>
    </div>
</div>
