<!--/*
File name : projects.ejs
Student's name : Karandeep
StudentID : 100734535
Student's name : Ritu Patel
StudentID : 100730021
Student's name : Harmanpreet Kaur
StudentID : 100734511
Date : 2020-04-06

Reference :- Images used in this file are from a free stock images website called Pexel
Reference :- Online birth certificate system is downloaded from https://phpgurukul.com/online-birth-certificate-system-using-php-and-mysql/
Reference :- Parking project is downloaded from https://phpgurukul.com/?smd_process_download=1&download_id=10331
*/-->

<!-- Main Content -->
<div class="row">
    <div class="col">
          <div class="jumbotron" id="contentArea">
              <h1 class="display-4">Interesting Projects Live Here!</h1>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.pexels.com/photos/1236730/pexels-photo-1236730.jpeg?cs=srgb&dl=card-dark-floating-focus-1236730.jpg&fm=jpg">
                <div class="card-body">
                  <h5 class="card-title">Durak Project</h5>
                  <p class="card-text">I'm working on this project named Durak Project. I'm making Durak card game using C#</p>
                  <a href="https://github.com/karandeep1090/DurakProject" class="btn btn-primary">My Durak Project</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/id/1081/600/400">
                <div class="card-body">
                  <h5 class="card-title">Online Birth Certificate System</h5>
                  <p class="card-text">I made an online birth certificate system using php and jquery.</p>
                  <a href="https://phpgurukul.com/?smd_process_download=1&download_id=11466" class="btn btn-primary">Download It Here!</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.pexels.com/photos/1756957/pexels-photo-1756957.jpeg?cs=srgb&dl=photography-of-empty-parking-lot-1756957.jpg&fm=jpg">
                <div class="card-body">
                  <h5 class="card-title">Vehicle Parking Management System</h5>
                  <p class="card-text">I made a vehicle parking management system for a local parking company.</p>
                  <a href="https://phpgurukul.com/?smd_process_download=1&download_id=10331" class="btn btn-primary">Download It Here!</a>
                </div>
              </div>
          </div>
    </div>
</div>

