<!--/*
File name : services.ejs
Student's name : Karandeep
StudentID : 100734535
Student's name : Ritu Patel
StudentID : 100730021
Student's name : Harmanpreet Kaur
StudentID : 100734511
Date : 2020-04-06

Reference :- Images used in this file are from a free stock images website called Pexel
*/-->

<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">An Interesting List of my Services</h1>
                <p>
                    <img src="https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?cs=srgb&dl=code-coding-computer-data-574077.jpg&fm=jpg" height="123" width="123">
                    <ul>
                        <li>Web Designing </li>
                        <li>Web Development</li>
                        <li>iOS App Development</li>
                        <li>Android App Development</li>
                        <li>C# Program Development</li>
                    </ul>
                </p>
                
            </div>
    </div>
</div>

